@layout("/layout/_form.html",{js:["/assets/modular/resource/video/res_video_edit.js"]}){
<script src="../../../../assets/common/libs/vue-lib/vue.js"></script>
<link rel="stylesheet" href="../../../../assets/common/libs/vue-lib/index.css">
<script src="../../../../assets/common/libs/vue-lib/index.js"></script>
<form class="layui-form" id="videoForm" lay-filter="videoForm">
    <div class="layui-fluid" id="layui-app" style="padding-bottom: 75px;">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item layui-row">
                    <input name="vidId" type="hidden"/>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label layui-form-required">
                            视频名称</label>
                        <div class="layui-input-block">
                            <input name="fileName" :value="forms.fileName" placeholder="请输入视频名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label layui-form-required">视频链接</label>
                        <div class="layui-input-block">
                            <input name="url" :value="forms.url" placeholder="请输入视频链接" type="text" class="layui-input" lay-verify="required" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">视频大小</label>
                        <div class="layui-input-block">
                            <input name="fileSize" :value="forms.fileSize" placeholder="请输入视频大小(数字)" type="text" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">视频长度</label>
                        <div class="layui-input-block">
                            <input name="fileDuration"  :value="forms.fileDuration" placeholder="请输入视频长度(数字)" type="text" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">视频后缀</label>
                        <div class="layui-input-block">
                            <input name="ext" :value="forms.ext" placeholder="请输入视频后缀" type="text" class="layui-input"  autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">转码链接</label>
                        <div class="layui-input-block">
                            <input name="transcodingUrl" :value="forms.transcodingUrl" placeholder="请输入视频转码链接" type="text" class="layui-input"  autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">视频封面图</label>
                        <div class="layui-input-block">
                            <input name="thumbInfo" :value="forms.thumbInfo" placeholder="请输入视频封面图" type="text" class="layui-input"  autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">视频标签</label>
                        <div class="layui-input-block">
<!--                            <input name="videoTagList"  :value="getData()"  type="hidden"/>-->
                            <div style="display: flex;">
                                <div  v-for="item in tag"
                                      style="border-radius: 10px;
                                        box-sizing: border-box;
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 400;
                                        height: 20px;
                                        line-height: 20px;
                                        overflow: hidden;
                                        padding: 0 8px;
                                        text-align: left;
                                        background: #aecf55;
                                        margin-right: 10px;
                                        white-space: nowrap;">
                                        {{item.name}}
                                    <span style="color: #ffffff; cursor: pointer" v-on:click="deleteItem(item)">X</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md12">
                        <label class="layui-form-label">添加标签</label>
                        <div class="layui-input-block">
                            <el-select
                                    v-model="value"
                                    multiple
                                    filterable
                                    remote
                                    reserve-keyword
                                    style="width: 100%"
                                    placeholder="请输入关键词"
                                    :remote-method="remoteMethod"
                                    v-on:remove-tag="removeTag"
                                    :loading="loading">
                                <el-option
                                        v-for="item in tag"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-bottom text-center">
        <button class="layui-btn" lay-filter="btnSubmit" lay-submit>&emsp;提交&emsp;</button>
        <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
    </div>

</form>
@}